#wrapper {
  min-height: 100vh;
}

#drum-machine {
  background-color: rgb(219, 214, 166);
  max-width: 800px;
  min-height: 50vh;
  border-radius: 5px;
  box-shadow: rgba(159, 204, 166, 0.87) 0px 3px 8px;
  font-size: calc(10px + 2vmin);
}